.App {
  text-align: center;
}

/* Customize for react-chatbot-kit */

.react-chatbot-kit-user-chat-message-container {
  display: flex;
  margin: 15px 0;
  justify-content: flex-end;
}

.react-chatbot-kit-user-avatar-container {
  display: none !important;
}

.react-chatbot-kit-user-avatar-icon {
  display: none !important;
}

.react-chatbot-kit-user-chat-message {
  background-color: #F7E600 !important;
  padding: 30px !important;
  border-radius: 15px !important;
  font-size: 2.5rem !important;
  font-weight: bold;
  color: #000000 !important;
  max-width: 584.5px !important;
  text-align: center !important;
  line-height: 140%;
  white-space: pre-wrap !important;
  word-break: keep-all !important;
  margin-right: 50px !important;
}

.react-chatbot-kit-user-chat-message-arrow {
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid #f1f1f1;
  position: absolute;
  right: -7px;
  top: 13px;
}

.react-chatbot-kit-chat-container {
  width: 1080px !important;
  height: 1920px;
}

.react-chatbot-kit-chat-inner-container {
  height: 1920px !important;
  background-color: #ffffff !important;
}

.react-chatbot-kit-chat-message-container {
  padding: 0px !important;
  overflow: auto !important;
  height: 1480px !important;
  width: 1080px !important;
  margin-top: 10px !important;
  /* margin-left: 10px; */
  scrollbar-width: none;
}

.react-chatbot-kit-chat-message-container::-webkit-scrollbar {
	display: none !important;
}

.react-chatbot-kit-chat-bot-message {
  padding: 30px !important;
  border-radius: 15px !important;
  font-size: 2.7rem !important;
  color: #000000 !important;
  width: 684.5px !important;
  margin-inline: 150px;
  line-height: 140%;
  white-space: pre-wrap !important;
  word-break: keep-all !important;
}

.react-chatbot-kit-chat-input-form {
  display: none !important;
}

/* Common Components */
/* GridButtons */
.custom-button-list-size {
  position: relative;
  width: 320px;
  height: 90px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  white-space: pre-wrap;
  line-height: 112%;
  word-break: keep-all;
}

.custom-two-button-list-size {
  position: relative;
  width: 480px;
  height: 90px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  white-space: pre-wrap;
  line-height: 112%;
  word-break: keep-all;
}

/* Switches */
.custom-button-size {
  position: absolute;
  width: 180px;
  height: 40px;
  top: 343px;
  left: 235px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  white-space: pre-wrap;
  line-height: 112%;
  word-break: keep-all;
}

.custom-address-search-button-size {
  position: relative;
  width: 180px;
  height: 48px;
  left: 220px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 24px;
}

/* Customize for ant-design */
.ant-switch-handle {
  margin-top: 6px !important;
  margin-left: -1.0px !important;
  width: 20.5px !important;
  height: 20.5px !important;
}

.ant-modal-title {
  font-size: 32px !important;
  background-color: #f0f0f0 !important;
}

.ant-modal-content {
  background-color: #f0f0f0 !important;
}

/* .ant-input-wrapper {
  height: 64px;
}

.ant-input-suffix {
  height: 64px;
} */

body::-webkit-scrollbar {
  width: 8px !important;  /* 스크롤바의 너비 */
}

body::-webkit-scrollbar-thumb {
  height: 30% !important; /* 스크롤바의 길이 */
  background: #217af4 !important; /* 스크롤바의 색상 */
  
  border-radius: 10px !important;
}

body::-webkit-scrollbar-track {
  background: rgba(33, 122, 244, .1) !important;  /*스크롤바 뒷 배경 색상*/
}